<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ppkpub.ppkbrowser"
    android:versionCode="1"
    android:versionName="0.6.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    
    <!--为了安全，暂时不打开对外部存储的访问权限
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.ppkpub.ppkbrowser.PPkActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!--需要添加下面的intent-filter配置,支持第三方App或者浏览器跳转自己App-->
	        <intent-filter>
	            <action android:name="android.intent.action.VIEW"/>
	            <category android:name="android.intent.category.DEFAULT"/>
	            <category android:name="android.intent.category.BROWSABLE"/>
	            <data android:scheme="ppk"/>
	        </intent-filter>
        </activity>
        
        <activity
            android:name="com.karics.library.zxing.android.CaptureActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="org.ppkpub.ppkbrowser.UpdateActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="org.ppkpub.ppkbrowser.PayToActivity"
            android:label="@string/lbl_payto" >
            <!--需要添加下面的intent-filter配置,支持第三方App或者浏览器跳转自己App-->
	        <intent-filter>
	            <action android:name="android.intent.action.VIEW"/>
	            <category android:name="android.intent.category.DEFAULT"/>
	            <category android:name="android.intent.category.BROWSABLE"/>
	            <data android:scheme="paytoppk" />
	        </intent-filter>
        </activity>
        
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.ppkpub.ppkbrowser.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
    
    

</manifest>
